/* background colors */
.bg-dark-grey {
  background-color: #2e3031;
}

/* button colors */
.btn-outline-danger {
  color: #f14e48;
  border-color: #f14e48;
}

.btn-outline-success {
  color: #43c12c;
  border-color: #43c12c;
}

.btn-outline-primary {
  color: #0273e9;
  border-color: #0273e9;
}

.btn-invisible {
  color: white;
  opacity: 0;
  border-color: white;
}

/* button hover colors */
.btn-outline-danger:hover {
  color: white;
  background-color: #f14e48;
  border-color: #f14e48;
}

.btn-outline-success:hover {
  color: white;
  background-color: #43c12c;
  border-color: #43c12c;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #0273e9;
  border-color: #0273e9;
}

.heart {
  margin-left: -1.8rem !important;
  margin-right: 0.25rem !important;
  padding-top: 2rem !important;
}

.outline {
  border: 3px solid #292b2c;
  /* border-radius: 5px; */
}

hr:not([size]) {
  height: 3px;
  /* margin: 20px; */
  opacity: 0.5;
}

.rbq_question_overlap_text {
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.overlap_text {
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* 
pink: #db278d
red: #f14e48
orange: #ff9038
yellow: #feca1d
green: #43c12c
aqua: #27dbae
blue: #0273e9
indigo: #7248f1
magenta: #c035e7 
*/
